{% extends 'base.html.twig' %}

{% block title %}zed zed MainController!{% endblock %}

{% block body %}
<style>
    .container { margin: 100px auto; max-width: 800px; width: 95%; font: 18px/1.5 sans-serif; }
        .btn { align-items: center;  }
        .z{ text-align: center;  }
        .MEZ{text-align:center;}
        .eza{text-align:center;margin-bottom:100px; font-size:80px;}
        .hova{text-align:right;}
        .alert{margin-top:20px;}
        
</style>

<div class="container"> 

            
<table class="table">
  <thead>
    <tr class="MEZ">
      <th scope="col">id</th>
      <th scope="col">Model</th>
      <th scope="col">CreationDate</th>
      <th scope="col"> Action</th>
    </tr>
  </thead>
  <tbody>

    <h3 class ="eza"> Truck </h3>

    {% for data in list  %}
    <tr class="MEZ">
      <th scope="row">{{ data.id }}</th>
      <td>{{ data.model }}</td>
      <td>{{ data.creationDate|date('Y-m-d H:i:s') }}</td>
      <td>
      
     
      <a class="btn btn-warning" href="{{ path('update', {'id': data.id}) }}" >Update</a>
      <a class="btn btn-warning" href="{{ path('delete', {'id': data.id}) }}">delete</a>
      </td>
    </tr>
      {% endfor %}


  </tbody>

</table>
      <div class ="hova">
        <a class="btn btn-warning" href="{{path('create')}}">create</a>
      </div>



       {% for message in app.flashes('notice')%}

             <div class="alert alert-primary" role="alert">
                {{ message }}
              </div>

            {% endfor %}
</div>


{% endblock %}



